body{
  font-family: 'Ubuntu', sans-serif;
}
h1,h2,h3{
  font-family: 'Montserrat', sans-serif;
}
h1{
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
  margin-bottom: 100px;
}
h2{
  font-weight: 700;
  font-size: 3rem;
  line-height: 1.5;
}
h3{
  font-weight: 700;
}
p{
  color: #8F8F8F;
}

/*  Class Selectors  */
.container-fluid{
  padding: 3% 15%;
}
.navbar{
  padding: 0 0 4.5rem;
}
.navbar-brand{
  font-size: 2.5rem;
  font-weight: bold;
}
.nav-item{
  padding: 0 16px;
}
.nav-link{
  font-size: 1.2rem;
  font-family: "Montserrat-Light";
}
.download-button{
  margin: 5% 3% 5% 0;
}
.title-img{
  width: 60%;
  transform: rotate(25deg);
  position: relative;
  top: 25%;
  left: 20%;
  /* top: 180px; */
}
.feature-box{
  text-align: center;
  padding: 5%;
}
.feature-icon{
  color: #EF8172;
  margin-bottom: 1rem;
}
.feature-icon:hover{
  color: #FF4C68;
}
.testimonial-img{
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}
.press-img{
  width: 15%;
  margin: 20px 20px 50px;
}
.carousel-item{
  padding: 3% 15%;
}
.price-col{
  padding: 3%;
}
.footer-icon{
  margin: 4% 1% 1%;
}

/*  ID Selectors  */
#title{
  background-color: #FF4C68;
  color: white;
}
#features{
  background-color: white;
  position: relative;
  z-index: 1;
}
#testimonials{
  text-align: center;
  /* padding: 3% 5%; */
  background-color: #EF8172;
  color: white;
}
#press{
  background-color: #EF8172;
  text-align: center;
  /* padding-bottom: 3%; */
}
#pricing{
  padding: 100px;
  text-align: center;
}
#cta{
  background-color: #FF4C68;
  color: white;
  text-align: center;
  /* padding: 3% 15%; */
}
#footer{
  text-align: center;
  /* padding: 3% 15%; */
}
